---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Dani Pereira.">
	<div class="flex h-screen items-center justify-center">
		<h1 class="text-secondary-color text-4xl dark:text-white">ABOUT ME</h1>
	</div>
</Layout>
