---
import About from '../components/About.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
import Techs from '../components/Techs.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Dani Pereira.">
	<main class="container mx-auto flex h-screen flex-1 flex-col bg-white py-24 text-black">
		<div class="flex w-full flex-col lg:flex-row">
			<Experience />

			<Techs />
		</div>

		<Projects />
		<About />
	</main>
</Layout>
