---
import About from '../components/About.astro'
import Banner from '../components/Banner.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects.astro'
import Techs from '../components/Techs.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Dani Pereira.">
	<main class="dark:bg-dark-primary mx-auto flex h-screen flex-1 flex-col bg-white text-black">
		<div class="flex flex-col lg:pt-24">
			<Banner />
			<div class="container mx-auto flex flex-col lg:flex-row lg:pt-24">
				<Experience />

				<Techs />
			</div>
		</div>

		<Projects />
		<About />
	</main>
</Layout>
