---

---

<section
	class="text-primary-color mx-auto flex grid w-full items-center pb-24 text-center lg:w-1/2 dark:text-white"
>
	<div class="flex flex-col">
		<h3
			class="mb-8 bg-gradient-to-t from-black to-gray-400 bg-clip-text text-center text-xl font-bold text-transparent md:text-3xl lg:break-words lg:text-4xl dark:text-gray-300"
		>
			About me
		</h3>
		<p class="mx-auto flex text-xl lg:max-w-[75%]">
			As a self-taught web designer and developer, I have honed my skills through dedicated learning
			and practical experience, surpassing what I could have achieved through freelance work alone.
			I have independently mastered building and maintaining various E-commerce sites and landing
			pages, utilizing CMS platforms such as WordPress, WooCommerce, and PrestaShop. As a
			self-taught web designer and developer, I have honed my skills through dedicated learning and
			practical experience, surpassing what I could have achieved through freelance work alone. I
			have independently mastered building and maintaining various E-commerce sites and landing
			pages, utilizing CMS platforms such as WordPress, WooCommerce, and PrestaShop.
		</p>
		<a
			href="/about-me"
			class="text-secondary-color mx-auto mt-8 w-fit text-lg font-extrabold underline"
		>
			Read More
		</a>
	</div>
</section>
