---

---

<section class="flex w-full flex-col gap-8 lg:w-1/2">
	<div class="flex flex-col">
		<h3
			class="bg-gradient-to-t from-black to-gray-400 bg-clip-text text-center text-xl font-bold text-transparent md:text-3xl lg:break-words lg:text-4xl"
		>
			Work Experience
		</h3>
	</div>
	<div class="relative">
		<ul class="m-0 list-none p-0">
			<li class="mb-5">
				<div class="flex items-center">
					<div class="z-10 ml-4 flex-1 font-medium">
						<div
							class="false relative ml-4 rounded-2xl bg-gradient-to-r p-6 shadow-xl hover:shadow-2xl"
						>
							<div class="flex items-center gap-2 text-gray-900">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="30"
									height="30"
									viewBox="0 0 30 30"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="icon icon-tabler icons-tabler-outline icon-tabler-code"
								>
									<>
										<path stroke="none" d="M0 0h30v30H0z" fill="none"></path>
										<path d="M7 8l-4 4l4 4"></path>
										<path d="M17 8l4 4l-4 4"></path>
										<path d="M14 4l-4 16"></path>
									</>
								</svg>
								<h3 class="text-2xl font-bold text-gray-900">Junior Frontend Developer</h3>
							</div>
							<p class="text-md pb-4 font-bold text-slate-500">Babel Sistemas de información</p>
							<span class="text-xs italic text-gray-900"> July 2022 - Jan 2024 </span>
							<hr class="mb-4" />

							<details name="work-experience" class="cursor-pointer">
								<summary>More info</summary>
								<p class="mt-8 text-lg font-medium leading-snug tracking-wide text-gray-900">
									Collaborated with senior developers to refactor and optimize codebase, resulting
									in a notable reduction in page load times and improved overall user experience.
									<br /><br />
									Implemented responsive design features and accessibility improvements, leading to a
									big increase in mobile user engagement and positive user feedback on usability.
								</p>
							</details>
						</div>
					</div>
				</div>
			</li>
			<li class="mb-5">
				<div class="flex items-center">
					<div class="z-10 ml-4 flex-1 font-medium">
						<div class="false relative ml-4 rounded-2xl bg-gradient-to-r p-6 shadow-xl">
							<div class="flex items-center gap-2 text-gray-900">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="30"
									height="30"
									viewBox="0 0 30 30"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="icon icon-tabler icons-tabler-outline icon-tabler-code"
								>
									<>
										<path stroke="none" d="M0 0h30v30H0z" fill="none"></path>
										<path d="M7 8l-4 4l4 4"></path>
										<path d="M17 8l4 4l-4 4"></path>
										<path d="M14 4l-4 16"></path>
									</>
								</svg>
								<h3 class="text-2xl font-bold text-gray-900">Junior Frontend Developer</h3>
							</div>
							<p class="text-md pb-4 font-bold text-slate-500">Grupo Reprogalicia</p>
							<span class="text-xs italic text-gray-900"> March 2022 - June 2022 </span>
							<hr class="mb-4" />

							<details name="work-experience" class="cursor-pointer">
								<summary>More info</summary>
								<p class="mt-8 text-lg font-medium leading-snug tracking-wide text-gray-900">
									Worked closely with the development team to migrate UI components from jQuery to
									React, contributing to a modernized codebase and enhanced maintainability.
									<br /><br />
									Assisted in the integration of RESTful APIs into frontend components, improving data
									fetching processes and contributing to a more seamless user experience.
								</p>
							</details>
						</div>
					</div>
				</div>
			</li>
			<li class="mb-5">
				<div class="flex items-center">
					<div class="z-10 ml-4 flex-1 font-medium">
						<div class="false relative ml-4 rounded-2xl bg-gradient-to-r p-6 shadow-xl">
							<div class="flex items-center gap-2 text-gray-900">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="30"
									height="30"
									viewBox="0 0 30 30"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="icon icon-tabler icons-tabler-outline icon-tabler-devices-2"
									><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
										d="M10 15h-6a1 1 0 0 1 -1 -1v-8a1 1 0 0 1 1 -1h6"></path><path
										d="M13 4m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z"
									></path><path d="M7 19l3 0"></path><path d="M17 8l0 .01"></path><path
										d="M17 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M9 15l0 4"
									></path></svg
								>
								<h3 class="text-2xl font-bold text-gray-900">Web Designer</h3>
							</div>
							<p class="text-md pb-4 font-bold text-slate-500">Pg Webs</p>
							<span class="text-xs italic text-gray-900"> June 2015 - Sept 2021 </span>
							<hr class="mb-4" />

							<details name="work-experience" class="cursor-pointer">
								<summary>More info</summary>
								<p class="mt-8 text-lg font-medium leading-snug tracking-wide text-gray-900">
									Designed and implemented responsive website layouts using Wordpress or plain
									HTML5, CSS3 and style frameworks like Bootstrap, ensuring cross-browser
									compatibility and mobile responsiveness. <br /><br />Collaborated with clients to
									understand their design preferences and requirements, delivering visually
									appealing and functional websites that met their needs and received positive
									feedback.
								</p>
							</details>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
