---

---

<footer class="flex h-[50px] items-center justify-center bg-black py-7">
	<div class="flex gap-4">
		<!-- <a href="https://github.com/danipereiracodes" target="_blank">
			<img src="/github.png" alt="github Logo danipereira.dev" class="w-8" />
		</a>

		<a href="mailto:info.danipereira@gmail.com" target="_blank">
			<img src="/email2.png" alt="envelope Logo danipereira.dev" class="w-8" />
		</a> -->
	</div>
</footer>
