---

---

<footer class="bg-secondary-color flex items-center justify-center py-4">
	<nav>
		<ul class="flex items-center gap-12 text-white">
			<li class="hover:underline">
				<a href="#">Web Design</a>
			</li>
			<li class="hover:underline">
				<a href="#">Projects</a>
			</li>
			<li class="hover:underline">
				<a href="#">Contact</a>
			</li>
		</ul>
	</nav>
</footer>
