---
import ProjectItemCard from './ProjectItemCard.astro'
import { portfolioData, type PortfolioItemTypes } from '../lib/data'
---

<section class="container mx-auto flex flex-col items-center py-24 text-center">
	<div class="mx-auto">
		<h3
			class="mb-8 bg-gradient-to-t from-black to-gray-400 bg-clip-text text-center text-3xl font-bold text-transparent md:text-3xl lg:break-words lg:text-4xl dark:text-gray-300"
		>
			Projects
		</h3>
	</div>
	<article class="grid grid-cols-1 gap-8 p-8 md:grid-cols-2 lg:grid-cols-3">
		{
			portfolioData.map((data: PortfolioItemTypes) => {
				console.log(data)
				return <ProjectItemCard link={data.linkLive} {...data} />
			})
		}
	</article>
</section>
