---
import AstroIcon from '../icons/tech-icons/AstroIcon.astro'
import CssIcon from '../icons/tech-icons/CssIcon.astro'
import HtmlIcon from '../icons/tech-icons/HtmlIcon.astro'
import JavascriptIcon from '../icons/tech-icons/JavascriptIcon.astro'
import NextJsIcon from '../icons/tech-icons/NextJsIcon.astro'
import ReactIcon from '../icons/tech-icons/ReactIcon.astro'
import SassIcon from '../icons/tech-icons/SassIcon.astro'
import StoryBookIcon from '../icons/tech-icons/StoryBookIcon.astro'
import TailwindIcon from '../icons/tech-icons/TailwindIcon.astro'
import TypescriptIcon from '../icons/tech-icons/TypescriptIcon.astro'
import WordpressIcon from '../icons/tech-icons/WordpressIcon.astro'
---

<section class="flex w-full flex-col items-center p-8 text-center lg:w-[66%]">
	<h3
		class="mb-8 bg-gradient-to-t from-black to-gray-400 bg-clip-text text-center text-3xl font-bold text-transparent md:text-3xl lg:break-words lg:text-4xl"
	>
		Technologies
	</h3>

	<article
		class="false relative grid w-full grid-cols-3 grid-rows-4 gap-4 overflow-hidden rounded-2xl bg-gradient-to-r p-8 font-bold text-black shadow-xl hover:shadow-2xl lg:w-2/3"
	>
		<div class="flex flex-col items-center justify-center">
			<HtmlIcon />
			<span class="w-full text-center text-sm">HTML5</span>
		</div>
		<div class="flex flex-col items-center justify-center">
			<CssIcon />
			<span class="w-full text-center text-sm">CSS3</span>
		</div>
		<div class="flex flex-col items-center justify-center">
			<JavascriptIcon />
			<span class="w-full text-center text-sm uppercase">Javascript</span>
		</div>
		<div class="flex flex-col items-center justify-center">
			<TypescriptIcon />

			<span class="w-full text-center text-sm uppercase">Typescript</span>
		</div>
		<div class="flex flex-col items-center justify-center">
			<ReactIcon />
			<span class="w-full text-center text-sm uppercase">React</span>
		</div>

		<div class="flex flex-col items-center justify-center">
			<NextJsIcon />
			<span class="w-full text-center text-sm uppercase">NextJS</span>
		</div>

		<div class="flex flex-col items-center justify-center">
			<TailwindIcon />
			<span class="w-full text-center text-sm uppercase">Tailwind css</span>
		</div>
		<div class="flex flex-col items-center justify-center">
			<SassIcon />

			<span class="w-full text-center text-sm uppercase">Sass</span>
		</div>
		<div class="flex flex-col items-center justify-center">
			<AstroIcon />
			<span class="w-full text-center text-sm uppercase">Astro</span>
		</div>
		<div class="flex flex-col items-center justify-center">
			<StoryBookIcon />
			<span class="w-full text-center text-sm uppercase">Storybook</span>
		</div>
		<div class="flex flex-col items-center justify-center">
			<WordpressIcon />
			<span class="w-full text-center text-sm uppercase">Wordpress</span>
		</div>
	</article>
</section>
